body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-family: 'Alegreya', serif; */
    font-family: 'Montserrat', sans-serif;
    background: white;
}

header, footer {
    margin: 15px;
    font-size: 15px;
    background: white;
    text-align: center;
}

header {
    width: 1120px;
}

footer {
    display: flex;
    width: 400px;
    /* border: 1px solid blue; */
    justify-content: space-around;
}

h1 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
    display: flex;
    justify-content: center
}

h2 {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 10px 0 10px;
    border-bottom: 1px solid gray;
    padding-bottom: 5px;
    text-align: center;
}

main {
    width: 1120px;
    display: flex;
    /* margin-top: 15px; */
}

button {
    cursor: pointer;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

textarea {
    resize: none;
    width: 500px;
    height: 90px;
    border-radius: 1rem;
    padding: 5px 15px 5px 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: 10px 0px;
}

textarea:focus {
    border: 2px solid #1877f2;
}

ul {
    display: flex;
    flex-direction: column;
    height: 330px;
    justify-content: space-evenly;
    line-height: 1.25;
    font-size: 15px;
    margin: 0px 10px 0 10px;
}

.race-container {
    /* border: 1px solid blue; */
    padding: 5px 15px 5px 15px;
    width: 500px;
    height: 100px;
    display: flex;
    flex-direction: column;
    position: relative;
}

img {
    width: 30px;
}

.difficulty-container, .instructions-container {
    width: 260px;
    border: 1px solid gray;
    border-radius: 1rem; 
}

.main-container {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 15px 0 15px;
    border: 1px solid gray;
    border-radius: 1rem; 
    position: relative;
}

.wpm-container {
    width: 225px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.quote-container {
    width: 500px;
    height: 125px;
    margin: 25px 5px 5px 5px;
    display: flex;
    align-items: center;
    background: aliceblue;
    padding: 5px 15px 5px 15px;
    border-radius: 1rem;
    font-size: 18px;
    line-height: 1.25;
    /* font-family: 'Alegreya', serif; */
}

.btn-container {
    width: 110px;
    height: 25px;
    margin: 5px;
}

.right {
    color: darkgray;
    text-decoration: line-through;
}

.wrong {
    color: darkred;
    background: pink;
}

.neutral {
    color: inherit;
}

.hidden {
    display: none;
}

.line {
    width: 100%;
    border-bottom: 1px solid darkgray;
    border-style: dashed;
    position: absolute;
    left: 0px;
}

.line:first-of-type {
    top: 49px;
}

.line:last-of-type {
    top: 116px;
}

#char1 {
    position: absolute;
    top: 0;
    left: 0px;
}

#char2 {
    position: absolute;
    top: 68px;
    left: 0px;
}

.race-container h3 {
    position: absolute;
    font-size: 12px;
}

.race-container h3:first-of-type {
    left: 0px;
    top: -15px;
}

.race-container h3:nth-of-type(2) {
    left: 436px;
    top: -15px;
    width: 94px;
    text-align: right;
}

.race-container h3:nth-of-type(3) {
    left: 0px;
    top: 55px;
}

.race-container h3:last-of-type {
    left: 475px;
    top: 55px;
    width: 55px;
    text-align: right;
}

.start-containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#countdown {
    /* border: 1px solid blue; */
    position: absolute;
    top: 360px;
    left: 32px;
    font-size: 30px;
    width: 485px;
    height: 50px;
    border-radius: 1rem;
    padding: 5px 15px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.difficulty-container li:hover {
    background: #f0f2f5;
    cursor: pointer;
}

.difficulty-container li {
    justify-content: space-between;
}

li {
    height: 55px;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;
    padding: 0 5px;
    position: relative;
}

.active {
    background: #f0f2f5;
}

ul div {
    border-bottom: 1px solid lightgray;
}

button {
    background: #1877f2;
    color: white;
    border-radius: 3px;
    border: none;
    height: 25px;
}

button:hover {
    background: #1876f2ee;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title img {
    width: 50px;
    padding: 0 10px;
}

#play:hover, #volume:hover {
    color: #1876f2ee;
    cursor: pointer;
}

.music-control {
    margin-top: 10px;
}

.audio-controls {
    display: flex;
    justify-content: space-evenly;
    margin: 0 10px;
}

.audio-controls div {
    font-size: 30px;
    width: fit-content;
    margin: 10px;
    color: #1877f2;   
}